<header class=" d-flex-center header ">
    <div class="logo">
        <img src="../../../assets/images/logo.svg" alt="logo">
    </div>

    <div class="menu-action">
        <div class="hamburgher" [hidden]="displayHamburgherButton" (click)="openMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="13">
                <g fill="#33323D" fill-rule="evenodd">
                    <path d="M0 0h24v1H0zM0 6h24v1H0zM0 12h24v1H0z" />
                </g>
            </svg>
        </div>

        <div class="close" [hidden]="displayCloseButton" (click)="hideMenu()">
            <svg xmlns="http://www.w3.org/2000/svg" width="18" height="19">
                <path fill="#33323D" fill-rule="evenodd"
                    d="M17.132.661l.707.707L9.707 9.5l8.132 8.132-.707.707L9 10.207.868 18.34l-.707-.707L8.293 9.5.161 1.368.868.661 9 8.793 17.132.661z" />
            </svg>
        </div>
    </div>

    <nav [hidden]="showMenu">
        <ul class="d-flex-center">
            <li><a routerLinkActive="active" routerLink="Home">Home</a></li>
            <li><a routerLinkActive="active" [routerLink]='["Portfolio"]'>Portfolio</a></li>
            <li><a routerLinkActive="active" routerLink="Contact">Contact me</a></li>
        </ul>
    </nav>

</header>