<div class="container">
    <picture>
        <source media="(min-width:900px)" srcset="../../../assets/images/homepage/desktop/image-homepage-hero.jpg">
        <source media="(min-width:560px)" srcset="../../../assets/images/homepage/tablet/image-homepage-hero.jpg">
        <source media="(max-width:559px)" srcset="../../../assets/images/homepage/mobile/image-homepage-hero.jpg">
        <img src="../../../assets/images/homepage/desktop/image-homepage-hero.jpg" alt="Laptop on a table">
    </picture>
    <div class="slogan">
        <h1>Hey, I’m Alex Spencer and I love building beautiful websites</h1>
        <app-main-button text="About me" (btnClick)="goToAbout()"></app-main-button>
    </div>

</div>